body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin: 15% 5%;
  color: #FEF2BF;
}

/* .container {
  display: block;
  width: 50%;
  margin: auto;
 
} */

/* body {
  text-align: center;
  background-color: #011F3F;
} */

.container-flex {
  display: flex;
  width: 50%;
  margin: auto;
  align-items: center;
  justify-content: center;
  margin-top: 35%;
 
}

.container-grid{
  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-template-rows: 1fr 1fr ;
}


  
  

@media (min-width: 1000px) {
  #level-title{
    margin:  5%;
  }
  .container-flex{
    margin-top: auto;
  }

  .startBtn{
    display: none;
  }
}

.startBtn{
  height: 100px;
  width: auto;
  margin-top: 200px;
  background-color: #FEF2BF;
}
span{
  font-size: 2.5rem;
  font-family: sans-serif;
  font-weight: bold;
  color: black;
}


.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
